NODE_ENV=test
JWT_ACCESS_SECRET=test-access-secret
JWT_REFRESH_SECRET=test-refresh-secret
CLIENT_ORIGIN=http://localhost:5173

# Use a dedicated database for tests only.
# Example:
# MONGODB_URI_TEST=mongodb+srv://<user>:<pass>@<cluster>/gympro_test?retryWrites=true&w=majority
MONGODB_URI_TEST=cmd /c npx vitest run --config .\vitest.config.js tests/integration/auth.test.js --reporter=verbose
MONGODB_URI_TEST=mongodb://madhurangaashan45_db_user:S6STwlqm3vNq5cex@ac-rv7zpa7-shard-00-00.tnhujea.mongodb.net:27017,ac-rv7zpa7-shard-00-01.tnhujea.mongodb.net:27017,ac-rv7zpa7-shard-00-02.tnhujea.mongodb.net:27017/gympro_test?ssl=true&replicaSet=atlas-wekgl9-shard-0&authSource=admin&appName=Gympro-client

